.home-container {
  padding-top: 120px;
  padding-left: 16%;
  padding-right: 16%;
}

.tech-stack-logo {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}

.tech-stack-logo:hover {
  /* TODO: hover -> show title! */
}

